<div class="create-app mt-4 mr-4 ml-4">
	<h2>Sửa khoá học</h2>
		<form method="POST" action="/course/update/{{course._id}}?_method=PUT">
		  <div class="form-group">
		    <label for="name">Sửa tên khoá học</label>
		    <input type="text" class="form-control" id="name" value="{{course.name}}" name="name"  placeholder="Tên khoá học...">
		  </div>
		  <div class="form-group">
		    <label for="description">Sửa mô tả khoá học</label>
		    <textarea class="form-control" id="description"  name="description" >{{course.description}}</textarea>
		  </div>
		  <div class="form-group">
		    <label for="price">Sửa giá</label>
		    <input type="text" class="form-control" id="price" value="{{course.price}}" name="price" placeholder="Giá">
		  </div>
		  <div class="form-group">
		    <label for="videoId">Sửa Video ID</label>
		    <input type="text" class="form-control" id="videoId" value="{{course.videoId}}" name="videoId" placeholder="Video ID">
		  </div>

		  <button type="submit" class="btn btn-primary">Sửa khoá học</button>
		</form>
</div>